#main__index {
    @include gradientBackground;
    height: 50vw;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-bottom: -100px;
    

    .container{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 46% 46%;
        gap: 8%;
        align-items: center;
        justify-content: space-between;

        .content__index {
            h1 {
                font-size: 3.5rem;
                line-height: 1.1;
                letter-spacing: -3px;
            }

            p {
                margin: 1rem 0 2rem;
                color: $light-color;
                font-size: 1.1rem;
            }
        }
    }
}

/* ------------------------------------ Media Queries (Medium Devices) ------------------------------------ */
@media screen and (max-width: 1024px) {
    #main__index {
        height: 60vh;

        .container {
            gap: 1rem;
            

            .content__index {
                h1 {
                    font-size: 2.5rem;
                }
            }
        }
    }
}


/* ------------------------------------ Media Queries (Small Devices) ------------------------------------ */
@media screen and (max-width: 600px) {
    #main__index {
        height: 101vh;
        padding-top: 3rem;

        .container {
            grid-template-columns: 1fr;
            text-align: center;
        }
    }
}