#main__testimonials{
    display:flex;
    padding-top: auto;
    height: 50vw;
    place-items: center;
}

#testimonials{
    margin-top: 1rem;
}

.swiper {
    width: $container-lg;

    .swiper-wrapper {

        .swiper-wrapper {
            /* brings swiper pagination down */
            margin-bottom: 4rem;
        }
        .swiper-slide {
            @include gradientBackground;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            cursor: default;
            font-size: 0.9rem;

            p {
                margin-bottom: 1.5rem;
            }

            .patient{
                display: flex;
                align-items: center;
                gap: 1rem;
                .avatar {
                    width: 2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }

    .swiper-pagination-bullet {
        background: $primary-color;
    }
}

/* ------------------------------------ Media Queries (Small Devices) ------------------------------------ */
@media screen and (max-width: 600px) {

    nav{
        display:flex;
        position:fixed;
    }

    #main__testimonials{
        

        height: 100%;
        padding-top: 8rem;
        padding-bottom: 3rem;
        margin-bottom: -100px;
                
    }

    .swiper {
        .swiper-wrapper{
            .swiper-slide {
                padding: 1.5rem;
            }
        }
    }
}